<div class="shadow bg-body rounded p-3">
    <form [formGroup]="form">
        <div *ngFor="let data of formDataList; let i = index;" class="mb-3">
            <label class="mb-2"> <b> {{i+1}}. {{data.question}}* </b> </label>

            <textarea *ngIf="data.questionType === 'Textbox'"
                [formControlName]="preProcessControlName(data.question, i)" class="form-control" id="textarea-field"
                rows="3">
                </textarea>

            <ng-container *ngIf="data.questionType === 'Checkbox'">
                <div *ngFor="let answer of data.checkboxOptions; let j = index;"
                    [formArrayName]="preProcessControlName(data.question, i)" class="form-check">
                    <input class="form-check-input" type="checkbox" [formControlName]="j"
                        [id]="preProcessControlName(data.question, i) + '-' + j">
                    <label class="form-check-label" [for]="preProcessControlName(data.question, i) + '-' + j">
                        {{answer.value}}
                    </label>
                </div>
            </ng-container>
        </div>

    </form>
    <div class="d-flex mt-5">
        <button class="btn btn-primary" (click)="open()">Add New Question</button>
        <button class="btn btn-success ms-auto" (click)="reviewAnswers()">Review my answers</button>
    </div>
</div>